@import 'colours';

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

nav {
  background-color: var(--navbarBackground);
  color: var(--navbarText);
  display: flex;
  justify-content: space-around;
  align-items: start;
  position: fixed;
  top: 0px;
  left: 0px;
  padding: 1rem;
  width: 100%;
}

nav a {
  color: inherit;
}

main {
  padding-top: 50px;  
}
